.product-card {
	position: relative;
	width: 300px;
	height: 540px;
	border: 1px solid #95a0a7;
	border-radius: 8px;
}
.product-card .product-img img {
	width: 286px;
	height: 286px;
	padding: 8px;
}
.product-info {
	padding-left: 14px;
}
.product-info > .product-name {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 25px;
	letter-spacing: 0.0015em;
	margin: 12px 0;
}
.product-info > .price {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 0.0015em;
}
.btn-cart {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #ffe0b3;
	border: none;
	border-top: 1px solid #95a0a7;
	border-radius: 0px 0px 8px 8px;
	cursor: pointer;
	transition: background 0.3s;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	/* identical to box height */

	letter-spacing: 0.0125em;
}
.btn-cart:hover {
	background: orange;
}
